# demo files & folder
demo*
docs*

# Travis.CI
.travis.yml
.gitignore
# VIM buffer
*~
*.swp
*.swo
publish
src
tslint.json
docs
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
demo-ng/*.d.ts
!demo/references.d.ts
!demo-ng/references.d.ts
demo/platforms
demo-ng/platforms
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json
demo
demo-ng
CHANGELOG.md
